@page "/rijeseniZadatci/{id:int}"
@using ZavrsniSeminar.Models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;



<h3>Rijeseni zadatci</h3>

 @if (IsError==true)
{
    <p>Nesto je posko po krivu,kontaktirajte administratora!</p>
}

<form @onsubmit="RijeseniZadatak">
    <p> Zadatak br: @Id </p>
    <p>
        <label for="ftodo">Todo</label>
        <input id="ftodo" @bind-value="radniZadatak.Todo" name="ftodo" type="text" placeholder="Upiši to do" />
    </p>
    <p>
        <label for="fime">Ime radnika</label>
        <input id="fime" @bind-value="radniZadatak.RadnikIme" name="fime" type="text" placeholder="Upiši ime" />
    </p>
    <p>
        <label for="fprezime">Prezime radnika</label>
        <input id="fprezime" @bind-value="radniZadatak.RadnikPrezime" name="fprezime" type="text" placeholder="Upiši prezime" />
    </p>
    <p>
        <label for="fopis">Opis posla</label>
        <input id="fopis" @bind-value="radniZadatak.OpisPosla" name="fopis" type="text" placeholder="Opis posla" />
    </p>
    <p>
        <label for="fdate">Datum</label>
        <input id="fdate" @bind-value="radniZadatak.Datum" name="fdate" type="datetime" placeholder="Datum" readonly />
    </p>
    <p>
        <label for="fid">IsDone</label>
        <input id="fid" @bind-value="radniZadatak.IsDone" name="fid" type="checkbox" placeholder="Is done" />
    </p>

    <p>
        <button @onclick="Delete" type="submit">Obriši</button>
    </p>



</form>




@code {

    [Parameter]
    public int Id { get; set; }
    public bool IsDone = true;
    public bool IsError = false;
    public RadniZadatak radniZadatak = new RadniZadatak();
    
    protected override async Task OnInitializedAsync()                  /* dohvati zadatak sa liste zadataka  */
    {
        var result = await httpClient.GetAsync($"https://expertvjezbeapi.azurewebsites.net/api/ToDoSeminars/{Id}");
        if (result.IsSuccessStatusCode)
        {
            radniZadatak = await result.Content.ReadFromJsonAsync<RadniZadatak>();
        }
    }  

    public async Task RijeseniZadatak()                                                 /*  prikazi rijesenog zadatka  */
    {
        var result = await httpClient.PostAsJsonAsync<RadniZadatak>($"https://expertvjezbeapi.azurewebsites.net/api/ToDoSeminars/IsDone/{Id}", radniZadatak);
        if (result.IsSuccessStatusCode)
        {
            navManager.NavigateTo($"/rijeseniZadatci/{Id}");
        }
        else
        {
            IsDone = false;
        }


    }

    public async Task Delete()  /*  brisanje zadataka  */
    {
        var result = await httpClient.DeleteAsync($"https://expertvjezbeapi.azurewebsites.net/api/ToDoSeminars/{Id}");
        if (result.IsSuccessStatusCode)
        {
            navManager.NavigateTo("/radniZadataks");
        }
        else
        {
            IsError = true;
        }
    }

    
}